html{
    font-family: 'Roboto', sans-serif;
}

h4{
    font-weight: lighter;
    font-size: 15px;
    background-color: goldenrod;
    width: 600px;
    margin-bottom: 5px;
}

h3{
    margin-top: 5px;
    margin-bottom: 25px;
}

label{
    font-size: 15px;
    font-weight: bold;
}

#login{
    margin-left: 150px;
    margin-bottom: 5px;
}

#senha{
    margin-left: 145px;
    margin-bottom: 5px;
}

#status{
    margin-left: 143px;
    margin-bottom: 5px;
}

#tipo{
    margin-top: -15px;
    margin-left: 193px;
    margin-bottom: 10px;
}

#data-criacao{
    margin-left: 103px;
    margin-bottom: 5px;
}

#perfil{
    margin-top: -15px;
    margin-left: 189px;
    margin-bottom: 5px;
}

#observacoes{
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 95px;
}

#modulo{
    margin-left: 127px ;
    margin-bottom: 5px;
}

#modulo2{
    margin-left: 196px ;
    margin-bottom: 35px;
}